# Whichever port you want to run this on 
FEEDGEN_PORT=3000
FEEDGEN_SQLITE_LOCATION="./data/data.db"
FEEDGEN_SUBSCRIPTION_ENDPOINT="wss://bsky.social"
FEEDGEN_SERVICE_DID="did:ygo:skyscraper.yugioh.gg"
FEEDGEN_HOSTNAME="example.com"
